# Python
__pycache__/
*.py[cod]
*$py.class
venv/
ENV/
env/
.env

# DB and local state
backend/database.db
backend/database.db-journal
backend/database.db-wal
backend/database.db-shm

# OS files
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
